.FA_overall_container {
	display:block;
	position:relative;
	clear:both;
	margin:0px 10px 0px;
	float:left;
	width:100%;
	z-index:1000;
}	

.FA_overall_container a:focus {
	outline:0px;
}
focus {
	outline:0px;
}

.FA_overall_container h3.FA_title_section { 	
	padding:0px;
	margin:0px 0px 10px;
	font-size:30px;
	font-family:Georgia, "Times New Roman", Times, serif;
	letter-spacing:3px;
	color:#003333; 
	font-weight:normal;
	font-style:italic;	
	font-height:30px;	
}

.FA_featured_articles {
	display:block;
	position:relative;
	clear:both;
	height:330px;
	width:60%;
	float:left;
	overflow:hidden;
	background:#eaeaea;
	border:none;
}

.FA_featured_articles .FA_article{
	display:block;
	position:relative;
	clear:both;
	height:300px;
	color:#CCCCCC;
	padding:30px;
	overflow:hidden;
	text-align:justify;
}

.FA_featured_articles .FA_article .image_container{
	/*
	display:block;
	position:relative;
	*/
	float:left;
	margin:0px;
	background-color:#eaeaea;
	padding:6px;
	border:1px #3b3b3b solid;
	margin-right:30px;
}

.FA_featured_articles .FA_article h2{
	margin:0px;
	padding:0px;
	font-size:22px;
	color:#303030;
	font-weight:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	border:none;
	clear:none;
}

.FA_featured_articles .FA_article span.FA_date{
	font-size:14px;
	color:#545454;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
}

.FA_featured_articles .FA_article p{
	font-size:12px; 
	color:#000000;
	margin:0px;
	padding:30px 0px 30px;
	line-height:18px;
	display:block;
	position:relative;
	clear:both;
}

.FA_featured_articles .FA_article a.FA_read_more{
	font-size:16px;
	color:#ffffff;
	background:#3b3b3b;
	padding:4px 6px;
	font-style:italic;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-decoration:none;
}

/*
	Bottom navigation
*/
ul.FA_navigation {
	display:block;
	position:relative;
	background:#eaeaea;
	padding:0px;
	list-style-type:none;
	margin:0px;
	text-align:left;
	width:40%;
	height:330px;
	float:right;
	background:#383838;	
	overflow:hidden;
}
	ul.FA_navigation li{
		display:block;
	}
		ul.FA_navigation li a{
			display:block;
			padding:23px 10px;
			text-decoration:none;
			color:#ccc;
			border-bottom:1px #666666 solid;
			font-size:12px;
		}	
.FA_overall_container .FA_navigation a.active{
	background:#000;
	color:#FFF;
}

.FA_overall_container .FA_navigation a:hover{
	color:#FFF;
}