a:hover, a:active, a:focus{
   outline: 0;
}

.ui-tabs{
	width:100%;
	float:left;
	margin-top:20px;
	border-top:1px #CCC solid;
	display:block;
	position:relative;
}
	.ui-tabs-nav{
		width:200px;
		position:absolute;
		top:0px;
		left:0px;
		list-style-type:none;
		margin:0px;
		z-index:100;
		border-right:2px #CCC solid;
		padding-bottom:50px;
	}
	.ui-tabs-nav li{
		border:1px solid #CCC;
		border-right:none;
		margin:0px;
		padding:0px;
		font-size:1.2em;
		margin-bottom:2px;		
	}
	.ui-tabs-nav li:first-child{
		border-top:none;
	}
		.ui-tabs-nav li a,
		.ui-tabs-nav li a:HOVER{
			color:#999;
			text-decoration:none;
			display:block;
			padding:11px 30px 5px 11px;
			background:#F5F5F5;	
			margin-right:-2px!important;
			border-right:2px #CCC solid;		
		}		
		.ui-tabs-nav .ui-tabs-active a{
			color:#333!important;	
			border-right:2px #F1F1F1 solid!important;			
			background:none!important;			
		}
		
		
	.ui-tabs .ui-tabs-panel{
		padding-left:20px;
		padding-top:0px;
		margin-left:200px;
		z-index:1;
	}
	
.fa_tabs h4{
	width:100%;
	border-bottom:1px #CCC solid;
	padding-bottom:15px;
	font-style:italic;	
	font-size:1.4em;
	font-weight:normal;
}
	.fa_tabs h4 i{
		font-size:1.4em;
		width:1.4em;
	}
	.fa_tabs label.small{
		font-size:.9em;		
	}
	.fa_tabs label.fa-cap-allowed{
		color:green;		
	}
	.fa_tabs label.fa-cap-denied{
		font-style:italic;
	}	
	
.fapro-option-not-available{
	background-color: #d54e21;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 9px;
    font-weight: 600;
    line-height: 17px;
    margin: 2px 2px 4px 2px;
    vertical-align: middle;
    z-index: 26;
}
	.fapro-option-not-available span{
		display: block;
    	padding: 0 6px;
	}	